[defaults]
# Disable host key checking for SSH connections. This means Ansible will not verify the host key of the SSH server,
# which can be useful for avoiding warnings about unknown hosts but reduces security.
host_key_checking = False

# Disable command warnings. This will prevent Ansible from displaying warnings related to the execution of commands.
command_warnings = False
